body,html{
    height: 100%;
    margin 0;
}

.bg{
    background-image: url("https://i.pinimg.com/originals/97/1b/cd/971bcd1e79e2cc333cdd1c29b1073051.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.fundoCinza{
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
}